<div style="position:relative; height:100%;">

  <!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" style=" padding-top:10px;
    background-color: white;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
    z-index: 1000; ">
    <mat-form-field appearance="outline" fxFlex="50" fxFlex.xs="80" fxFlex.sm="80">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search">
      <mat-icon matSuffix style="cursor: pointer;" (click)="onSubmit()">search</mat-icon>
    </mat-form-field>
  </div> -->



  <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="start start">
    <mat-card  class="margin-class"  fxFlex="30" fxFlex.lg="30" fxFlex.xl="30" fxFlex.md="30" fxFlex.sm="45"
      style="cursor: pointer;" *ngFor="let video of videos">
      <video style="width:100%;" controls [routerLink]="['/menu/users/videodetails']"  [queryParams]="video">
        <source [src]="video.videourl" type="video/mp4">
          </video>
      <!-- <cl-video style="width: 100%;" public-id="race_road_car" controls="true" loop="true"
        fallback-content="Your browser does not support HTML5 video tags.">
        <cl-transformation height="360" width="480" quality="70" duration="10" crop="pad"> </cl-transformation>
      </cl-video> -->
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <a class="video-class anchor-link" fxFlex="95" [matTooltip]="video.title" [routerLink]="['/menu/users/videodetails']"  [queryParams]="video"> {{video.title}}</a>
          <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon style="vertical-align: top;">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" [queryParams]="video">
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item [routerLink]="['/menu/users/videodetails']" [queryParams]="video">
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
            <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(video._id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
  <mat-toolbar style="background-color: transparent;">


  </mat-toolbar>
  <button mat-fab color="primary" class="fab-class" matTooltip="Add new video"
    [routerLink]="['/menu/users/video'+'/add']">
    <mat-icon>add</mat-icon>
  </button>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "red" type = "ball-spin-clockwise-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<!-- left: 80%;
    top: 85%; -->

   