<div style="position:relative; height:100%;">

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" style=" padding-top:10px;
    background-color: white;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
    z-index: 1000; ">
    <mat-form-field appearance="outline" fxFlex="50" fxFlex.xs="80" fxFlex.sm="80">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search">
      <mat-icon matSuffix style="cursor: pointer;" (click)="onSubmit()">search</mat-icon>
    </mat-form-field>
  </div>



  <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="start start">
    <mat-card class="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30"
      style="cursor: pointer;">

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95"
            matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New
            virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']">
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>

    </mat-card>
    <mat-card class="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30"
      style="cursor: pointer;">

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95"
            matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New
            virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']">
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>

    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']" >
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>
    <mat-card class ="margin-class" fxFlex="18" fxFlex.lg="18" fxFlex.xl="18" fxFlex.md="30" fxFlex.sm="30" style="cursor: pointer;">
        
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="video-class" fxFlex="95" matTooltip="New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/menu/users/video'+'/edit']"  [queryParams]="queryParam">
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item >
              <mat-icon>description</mat-icon>
              <span>Details</span>
            </button>
                 <button mat-menu-item>
              <mat-icon>subject</mat-icon>
              <span>Show Comments</span>
            </button>
            <button mat-menu-item (click)="deleteVideo(queryParam)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            
          </mat-menu>
        </div>
      </mat-card-content>
    
    </mat-card>

  </div>
  <mat-toolbar>


  </mat-toolbar>
  <button mat-fab color="primary" class="fab-class" matTooltip="Add new video"
    [routerLink]="['/menu/users/video'+'/add']">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- left: 80%;
    top: 85%; -->