<div  fxLayout="row wrap" fxLayout.xs="column wrap"  fxLayoutAlign="start start" >
   <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45"style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95" matTooltip="Info about the action">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item >
                <mat-icon>description</mat-icon>
                <span>Details</span>
              </button>
              <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span>Show Comments</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45" style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45" style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45" style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45" style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45" style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45"style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95" matTooltip="Info about the action">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item >
                <mat-icon>description</mat-icon>
                <span>Details</span>
              </button>
              <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span>Show Comments</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45"style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95" matTooltip="Info about the action">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item >
                <mat-icon>description</mat-icon>
                <span>Details</span>
              </button>
              <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span>Show Comments</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45"style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95" matTooltip="Info about the action">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item >
                <mat-icon>description</mat-icon>
                <span>Details</span>
              </button>
              <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span>Show Comments</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45"style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95" matTooltip="Info about the action">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item >
                <mat-icon>description</mat-icon>
                <span>Details</span>
              </button>
              <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span>Show Comments</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45"style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95" matTooltip="Info about the action">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item >
                <mat-icon>description</mat-icon>
                <span>Details</span>
              </button>
              <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span>Show Comments</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      <mat-card class ="margin-class" fxFlex="23" fxFlex.md="45"style="cursor: pointer;">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="200" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div fxLayout="row " fxLayoutAlign="start start" fxLayoutGap="3px">
            <span style="font-size: 1.m;
            font-weight: 500;
            line-height: 1.6rem;
            max-height: 3.2rem;
            color:#030303;
            display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;" fxFlex="95" matTooltip="Info about the action">New virus Vs old epidemiology: Why Swedish Covid strategy, hailed as model for the world, collapsed</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxFlex="5">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item >
                <mat-icon>description</mat-icon>
                <span>Details</span>
              </button>
              <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span>Show Comments</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      
      </mat-card>
      
</div>
