<mat-card fxLayout="column" fxLayoutAlign="start " class="margin-class scroll" fxLayoutGap="10px">
    <form [formGroup]="addVideoForm" (ngSubmit)="onSubmit()">
        <h1>{{title}}</h1>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">

            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                <mat-icon matSuffix>format_italic</mat-icon>
                <mat-error *ngIf="addVideoForm.get('name').hasError('required') ">Name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Choose Language </mat-label>
                <mat-select formControlName="language">
                    <mat-option value="english">English</mat-option>
                    <mat-option value="kannada">Kannada</mat-option>
                </mat-select>
                <mat-error *ngIf="addVideoForm.get('language').hasError('required') ">Language is required</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Title</mat-label>
                <textarea matInput placeholder="Title" formControlName="title"></textarea>

                <mat-error *ngIf="addVideoForm.get('title').hasError('required') ">Title is required</mat-error>
            </mat-form-field>
            <file-pond #myPond [options]="pondOptions" [files]="pondFiles" (oninit)="pondHandleInit()"
            (onaddfile)="pondHandleAddFile($event)"  fxFlex="50">
        </file-pond>

        </div>
        <!-- <input class="margin-class" type="file" placeholder="Choose Video" (change)="onFileSelect($event)"
            accept="video/mp4,video/x-m4v,video/*"> -->
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
          
        </div>

        <div fxLayout="column" fxLayoutAlign="center center " fxLayoutGap="10px">
            <button type="submit" mat-flat-button color="primary">Save</button>
        </div>
    </form>
</mat-card>